* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #7ccf8d;
  background: linear-gradient(180deg, #7ccf8d, rgb(68, 108, 148));
  height: 100vh;
}

header {
  width: 80vw;
  max-width: 800px;
  height: 15vh;
  max-height: 300px;
  background: url("/assets/logo.svg") center/contain no-repeat;
  margin: 10px auto;
}

button {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: 0px;
  outline: none;
  background: #ffcb05;
  margin: 0 auto;
  display: block;
  padding: 8px 4px;
  width: 75vw;
  cursor: pointer;
  color: #2a75bb;
  text-transform: uppercase;
}

button:hover {
  background: #fcd332;
  color: #0857a1;
}

@media (min-width: 500px) {
  button {
    width: 300px;
    margin-top: 20px;
  }
}
